atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/recovery
atom.symlink/storage
atom.symlink/themes

config.symlink/base16-shell/
git/gitconfig.local.symlink
irssi.symlink/config
vim.symlink/autoload/plug.vim
vim.symlink/colors/base16-*
vim.symlink/plugged/**
vim.symlink/undodir/**
